<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity
            android:name=".BenchmarkHostActivity"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:screenOrientation="portrait"
            android:showWhenLocked="true"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:turnScreenOn="true" />
    </application>
</manifest>
